@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #585ed6,
    ),
  ),
  $text-color: (
    'primary': #36366c,
    'regular': #2e2e54,
    'placeholder': #a2a2c3,
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;

.el-table__row:hover {
  color: #5c30e3;
  cursor: pointer;
  font-weight: bold;
}

.row-inactive {
  color: gray;
}
